html
  head
    title= title
    block scripts
      script(src='https://code.jquery.com/jquery-3.5.1.min.js')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
      link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block header
      #logo
        img(src="/images/logo192.png", alt="Logo", class="logo" srcset="")
    block content
    block foot
      #footer
        p Copyright - All Rights Reserved.